<a href="https://colab.research.google.com/github/D-Narendra-Reddy/120-Days-Data-Science/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1

#print(), input(), variables, strings, numbers

In [ ]:
#ðŸ–¨ï¸ 1. print()

# print() is used to display/output something on the screen.

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
# âŒ¨ï¸ 2. input()

# input() is used to take user input from the keyboard.
# By default, input is taken as a string.

In [ ]:
Name=input("Enter you Name: ")
print(Name)

Enter you Name: Narendra
Narendra

In [ ]:
#ðŸ“¦ 3. Variables

 # A variable is a name used to store data (like memory storage).

In [ ]:
age=20;
name="Nani";
height=5.6;

print(age,name,height);

20 Nani 5.6

In [ ]:
# ðŸ”¤ 4. Strings

# A string is text enclosed in " " or ' '.

In [5]:
text="nani"
print(text)

nani

In [7]:
first="nani"
second="reddy"
print(first+" "+second);

nani reddy

In [ ]:
# ðŸ”¢ 5. Numbers

# Python supports different number types:

# Type	Example
# Integer	10, 100, -5
# Float (decimal)	10.5, 3.14

In [8]:
x=10
y=5.5

print(x+y);

15.5

In [ ]:
# â— Input with numbers

# If you want to take number input, convert using:

# int() â†’ Integer

# float() â†’ Decimal

In [9]:
num1=int(input("Enter a number: "))
num2=float(input("Enter a number: "))

print(num1+num2)

Enter a number: 43
Enter a number: 32
75.0

# Practice Problems

In [20]:
# Simple Calculator

first=int(input("Enter First Number: "))
second=int(input("Enter Second Number: "))

print("Select One Operation")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")

entry=input("Enter any number (1/2/3/4): ")
if(entry == "1"):
  print(first+second)
elif (entry =="2"):
  print(first-second)
elif (entry == "3"):
  print(first*second)
elif (entry=="4"):
  print(first/second)
else:
  print("Invalid Operation")

Enter First Number: 1
Enter Second Number: 2
Select One Operation
1.Addition
2.Subtraction
3.Multiplication
4.Division
Enter any number (1/2/3/4): 4
0.5

In [21]:
#Temperature convertor

print("Select your conversion")
print("1.Celsius-->Fahrenheit")
print("2.Fahrenheit-->Celsius")

entry = input("Enter your choice(1/2): ")


if entry == "1":
  C = float(input("Enter temperature in celsius: "))
  res = (C * 9/5) + 32
  print("Result:",res,"F")
elif entry == "2":
  F = float(input("Enter temperature in fahrenheit: "))
  res = (F - 32) * 5/9
  print("Result:",res,"C")
else:
  print("Invalid Choice")

Select your conversion
1.Celsius-->Fahrenheit
2.Fahrenheit-->Celsius
Enter your choice(1/2): 1
Enter temperature in celsius: 43
Result: 109.4 F

In [15]:
# Reverse String using Loop
name=input("Enter a string: ")
reverse=""

for char in name:
  reverse=char+reverse
print("Reversed string: ",reverse);

Enter a string: Nani
Reversed string:  inaN

In [17]:
# Reverse String using slicing
name=input("Enter a string: ")
reverse=name[::-1]
print("Reversed string: ",reverse)

Enter a string: Nani
Reversed string:  inaN

In [23]:
# Even/Odd Checker

Number=int(input("Enter a Number: "))
if(Number%2==0):
  print(Number, "is a Even Number")
else:
  print(Number, "is a odd Number")

Enter a Number: 4
4 is a Even Number

In [24]:
# Multiplication Table

Number=int(input("Enter a number: "))
for i in range(1,11):
  res=Number*i
  print(Number," x ",i, " = ",res)

Enter a number: 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [27]:
# Sum of First N numbers
Number=int(input("Enter a number:"))
sum=0
for i in range(1,Number+1):
  sum=sum+i

print("Result :",sum)

Enter a number:34
Result : 595