<a href="https://colab.research.google.com/github/D-Narendra-Reddy/120Days-Data-Science/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2

In [ ]:
# Python If/Else + Loops

# IF/ELSE  Examples

In [ ]:
# 1️ Write a program to check whether a number entered by the user is positive or negative.
Number=float(input("Enter a Number: "))

if(Number > 0):
  print("Number is Positive")
elif(Number < 0):
  print("Number is Negative")
else:
  print("Number is Zero")

Enter a Number: 12
Positive

In [ ]:
#2  Take an age as input and print:

# "Child" if age < 13

# "Teenager" if age is between 13 and 19

# "Adult" if age ≥ 20

Age=int(input("Enter Age: "))

if(Age<13):
  print("Child")
elif(Age>13 and Age<19):
  print("Teenager")
else:
  print("Adult")

Enter Age: 29
Adult

In [ ]:
# 3 Accept two numbers and print the greater number. If both are equal, print "Both are equal"

x=float(input("Enter first number: "))
y=float(input("Enter second number: "))

if(x>y):
  print("First Number is Largest")
elif(y>x):
  print("Second Number is Largest")
elif(x==y):
  print("Both are equal")
else:
  print("Invalid Number")

Enter a first number: 54
Enter a second number: 45.23
54.0

In [ ]:
# 4 Check whether an entered alphabet is a vowel or consonant.
alphabet=input("Enter a alphabet: ")
vowels="aeiou"
alphabet=alphabet.lower()
if alphabet in vowels:
  print("Vowel")
else:
  print("Constonant")

Enter a alphabet: E
Vowel

In [ ]:
# 5 Check if a number is divisible by 5 and 11
Number=int(input("Enter a number: "))

if(Number%5==0) and (Number%11==0):
  print(Number,"is divisible by 5 and 11")
else:
  print(Number,"is not divisible by 5 and 11")

Enter a number: 21
21 is not divisible by 5 and 11

In [ ]:
# 6 Check if a person is eligible to vote
Age=int(input("Enter Age: "))
if(Age>=18):
  print("Eligible To Vote")
else:
  print("Not Eligible To Vote")

Enter Age: 43
Eligible To Vote

In [ ]:
# 7 Check if a student passed or failed (marks > 40)
Marks=float(input("Enter Marks: "))
if(Marks<40):
  print("Failed")
else:
  print("Passed")

Enter Marks: 56
Passed

In [ ]:
# 8 Check if a password matches a stored password
storedpwd="123456789"

pwd=input("Enter Password: ")
if(storedpwd==pwd):
  print("Access Approved")
else:
  print("Access Rejected")

Enter Password: 123456789
Access Approved

In [ ]:
# 9 Check if a year is leap year or Not

year=int(input("Enter Year: "))

if(year%4==0) and (year%100!=0):
  print(year,"is Leap year")
else:
  print(year,"is not a Leap year")

Enter Year: 2028
2028 is Leap year

In [ ]:
# 10 Check if a triangle is valid based on side lengths
a=int(input("Enter one side of triangle: "))
b=int(input("Enter second side of triangle: "))
c=int(input("Enter Third side of triangle: "))

if(a+b>c) and (b+c>a) and (c+a>b):
  print("Valid Triangle")
else:
  print("Not a Valid Triangle")

Enter one side of triangle: 4
Enter second side of triangle: 3
Enter Third side of triangle: 1
Not a Valid Triangle

# For Loop Examples

In [ ]:
# 1 WAP to print numbers from 1 to 50 using a for loop
print("Numbers from 1 to 50")
for i in range(1,51):
  print(i)

Numbers from 1 to 50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
# 2 Take a number n and print the multiplication table of n using a for loop.
# (Example: if input = 5 → print 5×1, 5×2 … 5×10)

Number=int(input("Enter a Number: "))
for i in range(1,10+1):
  res=Number*i
  print(Number,"x",i,"=",res)

Enter a Number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# 3 Print the sum of all numbers from 1 to n using a for loop.
n=int(input("Enter nth number: "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("Sum of",n,"numbers =",sum)

Enter nth number: 2
Sum of 2 numbers = 3

In [ ]:
# 4 Print the square of each number from 1 to 10 using a for loop.
# (Example: 1 → 1, 2 → 4, 3 → 9, …)

for i in range(1,10+1):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# 5 Given a list:
# numbers = [10, 22, 3, 45, 6, 99]
# Use a for loop to print only the numbers greater than 20.

numbers=[10,20,3,45,6,99]
for i in numbers:
  if(i>20):
    print(i)

45
99

In [ ]:
# 6 Print each character of string one by one
str1="Nani"
for x in str1:
  print(x)

N
a
n
i

# While Loop Examples

In [ ]:
# 1 Print numbers for 1 to 10 using while loop
i=1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2 Reverse a number using while loop(eg: 123 --> 321)
x=int(input("Enter a number: "))
reverse=0
while(x>0):
  digit=x%10
  reverse=(reverse*10)+digit
  x=x//10
print(reverse)

Enter a number: 564545
545465

In [ ]:
# 3 WAP to ask user repeatedly for input until they type "exit"
while True:
  x=input("Enter Text: ")
  if(x=="exit"):
    break
print("Program ended")

Enter Text: Ho
Enter Text: Hi
Enter Text: exit
Program ended

# Coding

In [ ]:
# FizzBuzz
x=int(input("Enter Number: "))
if(x%3==0) and (x%5==0):
  print("fizzbuzz")
elif(x%3==0):
  print("fizz")
elif(x%5==0):
  print("buzz")
else:
  print(x)

Enter Number: 3
fizz

In [ ]:
# Prime Number Checker
number=int(input("Enter Number: "))
if(number<=1):
  print("Not a prime number")
else:
  for i in range(2,number):
    if(number%i==0):
      print("Not a prime number")
      break
  else:
    print("prime Number")

Enter Number: 34
Not a prime number

In [ ]:
num=int(input("Enter number: "))
y=int(num**0.5)+1
if(num<=1):
  print("Not Prime")
else:
  for i in range(2,y):
    if(num%i==0):
      print("Not a Prime")
  else:
    print("Prime Number")

Enter number: 23
Prime Number

In [ ]:

#prime number checking using optimized square root method using math import
import math as m
x = int(input("Enter the number:"))
y = int(m.sqrt(x))
if x <=1:
  print("Not a prime")
else:
  for i in range(2,y):
    if x%i==0:
      print("Not a prime")
      break
  else:
      print("Prime")

Enter the number:2
Prime

In [ ]:
# Factorial Of number
x=int(input("Enter Number: "))
fact=1

if(x==0):
  print("The Factorial of Number is 1 ")
elif(x==1):
  print("The Factorial of number is 1")
else:
  for i in range(1,x+1):
    fact=fact*i
  print("Factorial of number is",fact)

Enter Number: 5
Factorial of number is 120

In [ ]:
# Fibonacci Series
x=int(input("Enter Numbers of terms you want: "))
first=0
second=1
print(first,second,end=" ")
for i in range(1,x+1):
  nxt=first+second
  print(nxt,end=" ")
  first=second
  second=nxt

Enter Numbers of terms you want: 10
0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
# Printing square pattern
x=int(input("Enter Number of rows: "))
for row in range(1,x+1):
  for column in range(1,x+1):
    print("*",end=" ")
  print()

Enter Number of rows: 3
* * *
* * *
* * *

In [ ]:
# Printing Right angled traingle
x=int(input("Enter Numbers of rows: "))
for row in range(1,x+1):
  print("* "*row)

Enter Numbers of rows: 4
*
* *
* * *
* * * *

In [ ]:
# Inverted Right Angle Triangle
x=int(input("Enter Numbers of rows"))
for row in range(x,0,-1):
  print("* "*row)

Enter Numbers of rows5
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Pyramid Printing
x=int(input("Enter numbers of rows: "))

for row in range(1,x+1):
  for space in range(1,x-row+1):
    print(" ",end="")
  #printing stars
  for star in range(1,2*row):
    print("*",end="")

  print()

Enter numbers of rows: 5
    *
   ***
  *****
 *******
*********

In [ ]:
# Inverted Pyramid

x=int(input("Enter Numbers of rows: "))
for row in range(x,0,-1):
  print(" "*(x-row),end="")
  print("*"*(2*row-1))

Enter Numbers of rows: 3
*****
 ***
  *

In [ ]:
# Numbers pyramid

x=int(input("Enter Number: "))
for i in range(1,x+1):
  for num in range(1,i+1):
    print(num,end=" ")
  print()

Enter Number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5